.rightColumn {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-left: var(--spacing-large);
	padding-top: var(--spacing-small);
	position: relative;
	width: 24rem;
}

.searchInput {
	background: #f1f5f9;
	border-radius: var(--border-radius-full);
	color: #1e293b;
	padding: 0.75rem var(--spacing-large);
}

.mediaGrid {
	border-radius: var(--border-radius-medium);
	display: grid;
	gap: 0.25rem;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-template-rows: repeat(2, minmax(0, 1fr));
	height: 12rem;
	margin-top: var(--spacing-medium);
	overflow: hidden;
}

.mediaImage {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.youMightLike {
	background-color: #f3f4f6;
	border-radius: var(--border-radius-medium);
	margin-top: var(--spacing-large);
	padding: 0.75rem var(--spacing-medium);
}

.youMightLikeHeading {
	font-size: 1.25rem;
	font-weight: 800;
	line-height: 1.75rem;
	margin-bottom: var(--spacing-large);
}

.mightLikeItem {
	margin-bottom: var(--spacing-large);
	display: flex;
	align-items: center;
}

.mightLikeImage {
	border-radius: var(--border-radius-full);
	height: var(--circle-size-medium);
	margin-right: 0.75rem;
	width: var(--circle-size-medium);
}

.mightLikeInfo {
	margin-bottom: 0.25rem;
	width: 100%;
}

.mightLikeName {
	margin-right: var(--spacing-small);
	font-weight: bold;
}

.mightLikeUsername {
	color: #64748b;
}

.mightLikeFollow {
	background: #000000;
	border-radius: var(--border-radius-full);
	color: #ffffff;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: 1.25rem;
	padding: var(--spacing-small) var(--spacing-large);
}

.whatsHappening {
	background-color: #f3f4f6;
	border-radius: var(--border-radius-medium);
	font-size: 0.875rem;
	line-height: 1.25rem;
	margin-top: var(--spacing-large);
	padding: 0.75rem var(--spacing-medium);
}

.whatsHappeningHeading {
	font-size: 1.25rem;
	font-weight: 800;
	line-height: 1.75rem;
	margin-bottom: var(--spacing-large);
}

.happeningItem {
	margin-bottom: var(--spacing-large);
}

.happeningItemFloater {
	float: right;
}

.happeningItemDots {
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1.75rem;
}

.happeningItemPrefix {
	color: #475569;
}

.happeningItemContents {
	font-weight: bold;
}

.happeningShowMoreButton {
	margin-bottom: 0.25rem;
	color: #1d9bf0;
}

.extraLinks {
	color: #64748b;
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding: var(--spacing-small);
}

.extraLink {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem var(--spacing-small);
	padding-bottom: var(--spacing-small);
}
