.nativeApp {
	display: flex;
	justify-content: center;

	background: var(--color-background);
	color: var(--color-foreground);

	--color-background: #ffffff;
	--color-foreground: #000000;

	--color-extraFaint: #f3f4f6;
	--color-faint: #e5e7eb;
	--color-medium: #64748b;
	--color-emphasized: #1e293b;

	--color-logo: #1d9bf0;
}

@media (prefers-color-scheme: dark) {
	.nativeApp {
		--color-background: #000000;
		--color-foreground: #ffffff;

		--color-extraFaint: #1e293b;
		--color-faint: #464b50;
		--color-medium: #e5e7eb;
		--color-emphasized: #f3f4f6;
	}
}
