.tweet {
	padding-left: var(--spacing-medium);
	padding-right: var(--spacing-medium);
}

.tweetContents {
	display: flex;
	font-size: var(--font-size-medium);
	line-height: var(--line-height-medium);
}

.photo {
	border-radius: var(--border-radius-full);
	height: var(--circle-size-medium);
	margin-right: 0.75rem;
	width: var(--circle-size-medium);
}

.tweeter {
	color: var(--color-medium);
	margin-bottom: 0.25rem;
}

.tweeterName {
	color: var(--color-foreground);
	font-weight: var(--font-weight-bold);
	margin-right: var(--spacing-small);
}

.link {
	border-radius: var(--border-radius-medium);
	border: 1px solid var(--color-faint);
	display: block;
	margin-top: var(--spacing-medium);
	overflow: hidden;
	position: relative;
}

.linkImage {
	height: 100%;
	margin-left: -3.5rem;
	position: absolute;
}

.linkContents {
	background: var(--color-background);
	display: flex;
	flex-direction: column;
	padding-bottom: var(--spacing-medium);
	padding-left: var(--spacing-medium);
	padding-top: var(--spacing-medium);
	position: relative;
}

.linkContentsWithImage {
	margin-left: 8rem;
}

.actionButtons {
	color: var(--color-medium);
	display: flex;
	justify-content: space-between;
}

.actionButton {
	align-items: center;
	display: flex;
	gap: 0.25rem;
	padding-bottom: var(--spacing-small);
	padding-top: var(--spacing-small);
}

.actionButtonIcon {
	height: var(--spacing-medium);
	width: var(--spacing-medium);
}
