.profilePhoto {
	border-radius: var(--border-radius-full);
}

.bordered {
	border: solid var(--color-background);
}

.bordered.sizeSmall {
	border-width: 1px;
}

.bordered.sizeMedium {
	border-width: 2px;
}

.bordered.sizeLarge {
	border-width: 4px;
}

.sizeSmall {
	height: var(--circle-size-small);
	width: var(--circle-size-small);
}

.sizeMedium {
	height: var(--circle-size-medium);
	width: var(--circle-size-medium);
}

.sizeLarge {
	height: var(--circle-size-large);
	width: var(--circle-size-large);
}
